body {
  color: #1e201e;
}
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: white;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  transform: translateY(0); /* Default position */
  transition: transform 0.1s linear; /* Smooth scrolling effect */
}

.hero-content {
  margin-top: 5%;
  position: relative;
  z-index: 1;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  animation: fadeInUp 1.5s ease-in-out;
}

.hero-content p {
  font-size: 1.5rem;
  animation: fadeInUp 2s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.typing-effect {
  border-right: 2px solid gray; /* Simulates a typing cursor */
  animation: blinkCursor 0.7s steps(1) infinite;
}

@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
}
.shapedividers_com-1822 {
  overflow: hidden;
  position: relative;
}
.shapedividers_com-1822::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 152px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.278 3.62" preserveAspectRatio="none"><path d="M35.278.092S8.238.267 0 3.62V.092z" opacity=".2" fill="%23222229"/><path d="M35.278.092S8.238.246 0 3.194V.092z" opacity=".2" fill="%23222229"/><path d="M35.278.092S8.238.223 0 2.738V.092zM35.278.092H0V0h35.278z" fill="%23222229"/></svg>');
}

@media (min-width: 768px) {
  .shapedividers_com-1822::before {
    background-size: 100% 149px;
    background-position: 50% 0%;
  }
}

@media (min-width: 1025px) {
  .shapedividers_com-1822::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 151px;
    background-position: 50% 0%;
  }
}
@media (min-width: 2100px) {
  .shapedividers_com-1822::before {
    background-size: 100% calc(2vw + 151px);
  }
}
