.projects-main {
  height: 100%;
  width: 100vw;
  padding-bottom: 10%;
  background-color: #ffffff;
  background-image: url("../../assets/mooning-1920x1080.png");
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.projects-div1 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  padding-bottom: 1%;
}
.projects-div1 .projects-title:hover {
  color: white;
  background-color: #222229;
}
.projects-div1 .projects-title {
  padding: 0 40px;
  color: #222229;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  border: 1px solid #222229;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.projects-div2 {
  height: 90%;
  width: 100%;
}
@media (max-width: 600px) {
  .projects-main {
    padding-bottom: 20%;
  }
}
