.projects-main {
  height: 100%;
  width: 100vw;
  padding-bottom: 10%;
  background-color: #ffffff;
  background-image: url("../../assets/mooning-1920x1080.png");
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.projects-div1 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  padding-bottom: 1%;
}
.projects-div1 .projects-title:hover {
  color: white;
  background-color: #222229;
}
.projects-div1 .projects-title {
  padding: 0 40px;
  color: #222229;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  border: 1px solid #222229;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.projects-div2 {
  height: 90%;
  width: 100%;
}
@media (max-width: 600px) {
  .projects-main {
    padding-bottom: 40%;
  }
}
.shapedividers_com-8373 {
  overflow: hidden;
  position: relative;
}
.shapedividers_com-8373::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 115px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMin slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 53"><g fill="%23222229"><path opacity=".5" d="M32 20H15L6 35l9 15h17l9-15-9-15z"/><path opacity=".5" d="M64 20H47l-9 15 9 15h17l9-15-9-15zM49 0h-7l-4 7 4 6h7l4-6-4-7zM5 17H3l-2 3 2 2h2l1-2-1-3z"/><path opacity=".2" d="M28 10h-8l-4 7 4 7h8l4-7-4-7zm3-6h-1l-1 1 1 1h1l1-1-1-1zM13 4H8L5 9l3 5h5l3-5-3-5zm-3 19H5l-3 4 3 5h5l2-5-2-4zm31-8h-3l-1 2 1 3h3l1-3-1-2zm-2 9h-4l-1 3 1 2h4l1-2-1-3zM24 0h-3l-2 3 2 2h3l1-2-1-3z"/><path opacity=".5" d="M87 17h2l1 3-1 2h-2l-2-2 2-3z"/><path opacity=".2" d="M64 10h8l4 7-4 7h-8l-4-7 4-7zm-3-6h1l1 1-1 1h-1l-1-1 1-1zm17 0h6l3 5-3 5h-6l-2-5 2-5z"/><path opacity=".5" d="M82 23h5l2 4-2 5h-5l-3-5 3-4z"/><path opacity=".2" d="M51 15h3l1 2-1 3h-3l-2-3 2-2zm2 9h3l2 3-2 2h-3l-2-2 2-3zM68 0h3l1 3-1 2h-3l-1-2 1-3z"/><path opacity=".5" d="M125 20h-18l-8 15 8 15h18l9-15-9-15z"/><path opacity=".5" d="M156 20h-17l-9 15 9 15h17l9-15-9-15zM142 0h-8l-4 7 4 6h8l3-6-3-7zM97 17h-2l-1 3 1 2h2l2-2-2-3z"/><path opacity=".2" d="M120 10h-8l-4 7 4 7h8l4-7-4-7zm3-6h-1l-1 1 1 1h1l1-1-1-1zm-17 0h-6l-3 5 3 5h6l2-5-2-5zm-4 19h-5l-2 4 2 5h5l3-5-3-4zm31-8h-3l-1 2 1 3h3l2-3-2-2zm-2 9h-3l-2 3 2 2h3l2-2-2-3zM116 0h-3l-1 3 1 2h3l2-2-2-3z"/><path opacity=".5" d="M179 17h2l2 3-2 2h-2l-1-2 1-3z"/><path opacity=".2" d="M156 10h8l4 7-4 7h-8l-4-7 4-7zm-3-6h1l1 1-1 1h-1V4zm18 0h5l3 5-3 5h-5l-3-5 3-5z"/><path opacity=".5" d="M174 23h5l3 4-3 5h-5l-2-5 2-4z"/><path opacity=".2" d="M143 15h3l2 2-2 3h-3l-1-3 1-2zm2 9h4l1 3-1 2h-4l-1-2 1-3zm15-24h3l2 3-2 2h-3l-1-2 1-3z"/><path opacity=".5" d="M217 20h-17l-9 15 9 15h17l9-15-9-15z"/><path opacity=".5" d="M249 20h-18l-8 15 8 15h18l8-15-8-15zM234 0h-8l-3 7 3 6h8l4-6-4-7zm-44 17h-3l-1 3 1 2h3l1-2-1-3z"/><path opacity=".2" d="M213 10h-9l-4 7 4 7h9l4-7-4-7zm3-6h-2v2h2V4zm-18 0h-5l-3 5 3 5h5l3-5-3-5zm-3 19h-5l-3 4 3 5h5l2-5-2-4zm31-8h-3l-2 2 2 3h3l1-3-1-2zm-3 9h-3l-2 3 2 2h3l2-2-2-3zM208 0h-2l-2 3 2 2h2l2-2-2-3z"/><path opacity=".5" d="M271 17h3l1 3-1 2h-3l-1-2 1-3z"/><path opacity=".2" d="M249 10h8l4 7-4 7h-8l-5-7 5-7zm-4-6h2v2h-2V4zm18 0h6l2 5-2 5h-6l-3-5 3-5z"/><path opacity=".5" d="M266 23h6l2 4-2 5h-6l-2-5 2-4z"/><path opacity=".2" d="M236 15h2l2 2-2 3h-2l-2-3 2-2zm2 9h3l2 3-2 2h-3l-2-2 2-3zm15-24h3l1 3-1 2h-3l-2-2 2-3z"/><path opacity=".5" d="M310 20h-18l-9 15 9 15h18l8-15-8-15z"/><path opacity=".5" d="M341 20h-17l-9 15 9 15h17l9-15-9-15zM326 0h-7l-4 7 4 6h7l4-6-4-7zm-44 17h-2l-2 3 2 2h2l1-2-1-3z"/><path opacity=".2" d="M305 10h-8l-4 7 4 7h8l4-7-4-7zm3-6h-1l-1 1 1 1h1l1-1-1-1zm-18 0h-5l-3 5 3 5h5l3-5-3-5zm-3 19h-5l-3 4 3 5h5l2-5-2-4zm31-8h-3l-1 2 1 3h3l1-3-1-2zm-2 9h-4l-1 3 1 2h4l1-2-1-3zM301 0h-3l-2 3 2 2h3l1-2-1-3z"/><path opacity=".5" d="M364 17h2l1 3-1 2h-2l-2-2 2-3z"/><path opacity=".2" d="M341 10h8l4 7-4 7h-8l-4-7 4-7zm-3-6h1l1 1-1 1h-1l-1-1 1-1zm18 0h5l3 5-3 5h-5l-3-5 3-5z"/><path opacity=".5" d="M359 23h5l2 4-2 5h-5l-3-5 3-4z"/><path opacity=".2" d="M328 15h3l1 2-1 3h-3l-2-3 2-2zm2 9h4l1 3-1 2h-4l-1-2 1-3zm15-24h3l1 3-1 2h-3l-1-2 1-3z"/><path opacity=".5" d="M402 20h-17l-9 15 9 15h17l9-15-9-15z"/><path opacity=".5" d="M433 20h-17l-9 15 9 15h17l9-15-9-15zM419 0h-8l-4 7 4 6h8l4-6-4-7zm-44 17h-3l-1 3 1 2h3l1-2-1-3z"/><path opacity=".2" d="M397 10h-8l-4 7 4 7h8l4-7-4-7zm3-6h-1v2h1l1-1-1-1zm-17 0h-6l-2 5 2 5h6l2-5-2-5zm-4 19h-5l-2 4 2 5h5l3-5-3-4zm31-8h-3l-1 2 1 3h3l2-3-2-2zm-2 9h-3l-2 3 2 2h3l2-2-2-3zM393 0h-3l-1 3 1 2h3l2-2-2-3z"/><path opacity=".5" d="M456 17h3l1 3-1 2h-3l-1-2 1-3z"/><path opacity=".2" d="M433 10h8l4 7-4 7h-8l-4-7 4-7zm-3-6h1l1 1-1 1h-1V4zm18 0h5l3 5-3 5h-5l-3-5 3-5z"/><path opacity=".5" d="M451 23h5l3 4-3 5h-5l-2-5 2-4z"/><path opacity=".2" d="M420 15h3l2 2-2 3h-3l-1-3 1-2zm3 9h3l2 3-2 2h-3l-2-2 2-3zm14-24h3l2 3-2 2h-3l-1-2 1-3z"/><path opacity=".5" d="M494 20h-17l-9 15 9 15h17l9-15-9-15z"/><path opacity=".5" d="M526 20h-18l-8 15 8 15h18l9-15-9-15zM511 0h-7l-4 7 4 6h7l4-6-4-7zm-44 17h-3l-1 3 1 2h3l1-2-1-3z"/><path opacity=".2" d="M490 10h-8l-4 7 4 7h8l4-7-4-7zm3-6h-1l-1 1 1 1h1V4zm-18 0h-5l-3 5 3 5h5l3-5-3-5zm-3 19h-5l-3 4 3 5h5l2-5-2-4zm31-8h-3l-2 2 2 3h3l1-3-1-2zm-3 9h-3l-2 3 2 2h3l2-2-2-3zM486 0h-3l-2 3 2 2h3l1-2-1-3z"/><path opacity=".5" d="M548 17h3l1 3-1 2h-3l-1-2 1-3z"/><path opacity=".2" d="M526 10h8l4 7-4 7h-8l-4-7 4-7zm-3-6h1v2h-1l-1-1 1-1zm17 0h6l2 5-2 5h-6l-2-5 2-5z"/><path opacity=".5" d="M544 23h5l2 4-2 5h-5l-3-5 3-4z"/><path opacity=".2" d="M513 15h3l1 2-1 3h-3l-2-3 2-2zm2 9h3l2 3-2 2h-3l-2-2 2-3zm15-24h3l1 3-1 2h-3l-2-2 2-3z"/><path opacity=".5" d="M587 20h-18l-8 15 8 15h18l8-15-8-15z"/><path opacity=".5" d="M618 20h-17l-9 15 9 15h17l9-15-9-15zM603 0h-7l-4 7 4 6h7l4-6-4-7zm-44 17h-2l-1 3 1 2h2l2-2-2-3z"/><path opacity=".2" d="M582 10h-8l-4 7 4 7h8l4-7-4-7zm3-6h-1l-1 1 1 1h1l1-1-1-1zm-18 0h-5l-3 5 3 5h5l3-5-3-5zm-3 19h-5l-2 4 2 5h5l3-5-3-4zm31-8h-3l-1 2 1 3h3l2-3-2-2zm-2 9h-4l-1 3 1 2h4l1-2-1-3zM578 0h-3l-1 3 1 2h3l1-2-1-3z"/><path opacity=".5" d="M641 17h2l2 3-2 2h-2l-1-2 1-3z"/><path opacity=".2" d="M618 10h8l4 7-4 7h-8l-4-7 4-7zm-3-6h1l1 1-1 1h-1l-1-1 1-1zm18 0h5l3 5-3 5h-5l-3-5 3-5z"/><path opacity=".5" d="M636 23h5l3 4-3 5h-5l-3-5 3-4z"/><path opacity=".2" d="M605 15h3l1 2-1 3h-3l-1-3 1-2zm2 9h4l1 3-1 2h-4l-1-2 1-3zm15-24h3l2 3-2 2h-3l-1-2 1-3z"/><path opacity=".5" d="M679 20h-17l-9 15 9 15h17l9-15-9-15z"/><path opacity=".5" d="M711 20h-18l-9 15 9 15h18l8-15-8-15zM696 0h-8l-4 7 4 6h8l4-6-4-7zm-44 17h-3l-1 3 1 2h3l1-2-1-3z"/><path opacity=".2" d="M674 10h-8l-4 7 4 7h8l5-7-5-7zm4-6h-2v2h2V4zm-18 0h-6l-2 5 2 5h6l3-5-3-5zm-3 19h-6l-2 4 2 5h6l2-5-2-4zm30-8h-2l-2 2 2 3h2l2-3-2-2zm-2 9h-3l-2 3 2 2h3l2-2-2-3zM670 0h-3l-1 3 1 2h3l2-2-2-3z"/><path opacity=".5" d="M733 17h3l1 3-1 2h-3l-1-2 1-3z"/><path opacity=".2" d="M710 10h9l4 7-4 7h-9l-4-7 4-7zm-3-6h2v2h-2V4zm18 0h5l3 5-3 5h-5l-3-5 3-5z"/><path opacity=".5" d="M728 23h5l3 4-3 5h-5l-2-5 2-4z"/><path opacity=".2" d="M697 15h3l2 2-2 3h-3l-1-3 1-2zm3 9h3l2 3-2 2h-3l-2-2 2-3zm15-24h2l2 3-2 2h-2l-2-2 2-3z"/><path opacity=".5" d="M771 20h-17l-9 15 9 15h17l9-15-9-15z"/><path opacity=".5" d="M803 20h-17l-9 15 9 15h17l9-15-9-15zM788 0h-7l-4 7 4 6h7l4-6-4-7zm-44 17h-2l-2 3 2 2h2l1-2-1-3z"/><path opacity=".2" d="M767 10h-8l-4 7 4 7h8l4-7-4-7zm3-6h-1l-1 1 1 1h1V4zm-18 0h-5l-3 5 3 5h5l3-5-3-5zm-3 19h-5l-3 4 3 5h5l2-5-2-4zm31-8h-3l-2 2 2 3h3l1-3-1-2zm-2 9h-4l-1 3 1 2h4l1-2-1-3zM763 0h-3l-2 3 2 2h3l1-2-1-3z"/><path opacity=".5" d="M826 17h2l1 3-1 2h-2l-2-2 2-3z"/><path opacity=".2" d="M803 10h8l4 7-4 7h-8l-4-7 4-7zm-3-6h1l1 1-1 1h-1l-1-1 1-1zm17 0h6l3 5-3 5h-6l-2-5 2-5z"/><path opacity=".5" d="M821 23h5l2 4-2 5h-5l-3-5 3-4z"/><path opacity=".2" d="M790 15h3l1 2-1 3h-3l-2-3 2-2zm2 9h3l2 3-2 2h-3l-2-2 2-3zm15-24h3l1 3-1 2h-3l-2-2 2-3z"/><path opacity=".5" d="M864 20h-18l-8 15 8 15h18l9-15-9-15z"/><path opacity=".5" d="M895 20h-17l-9 15 9 15h17l9-15-9-15zM881 0h-8l-4 7 4 6h8l3-6-3-7zm-45 17h-2l-1 3 1 2h2l2-2-2-3z"/><path opacity=".2" d="M859 10h-8l-4 7 4 7h8l4-7-4-7zm3-6h-1l-1 1 1 1h1l1-1-1-1zm-17 0h-6l-3 5 3 5h6l2-5-2-5zm-4 19h-5l-2 4 2 5h5l3-5-3-4zm31-8h-3l-1 2 1 3h3l2-3-2-2zm-2 9h-3l-2 3 2 2h3l2-2-2-3zM855 0h-3l-1 3 1 2h3l1-2-1-3z"/><path opacity=".5" d="M918 17h2l2 3-2 2h-2l-1-2 1-3z"/><path opacity=".2" d="M895 10h8l4 7-4 7h-8l-4-7 4-7zm-3-6h1l1 1-1 1h-1l-1-1 1-1zm18 0h5l3 5-3 5h-5l-3-5 3-5z"/><path opacity=".5" d="M913 23h5l3 4-3 5h-5l-2-5 2-4z"/><path opacity=".2" d="M882 15h3l1 2-1 3h-3l-1-3 1-2zm2 9h4l1 3-1 2h-4l-1-2 1-3zm15-24h3l2 3-2 2h-3l-1-2 1-3z"/><path opacity=".5" d="M956 20h-17l-9 15 9 15h17l9-15-9-15z"/><path opacity=".5" d="M988 20h-18l-8 15 8 15h18l8-15-8-15zM973 0h-8l-3 7 3 6h8l4-6-4-7zm-44 17h-3l-1 3 1 2h3l1-2-1-3z"/><path opacity=".2" d="M952 10h-9l-4 7 4 7h9l4-7-4-7zm3-6h-2v2h2V4zm-18 0h-5l-3 5 3 5h5l3-5-3-5zm-3 19h-5l-3 4 3 5h5l2-5-2-4zm31-8h-3l-2 2 2 3h3l1-3-1-2zm-3 9h-3l-2 3 2 2h3l2-2-2-3zM947 0h-2l-2 3 2 2h2l2-2-2-3z"/><path opacity=".5" d="M1010 17h3l1 3-1 2h-3l-1-2 1-3z"/><path opacity=".2" d="M988 10h8l4 7-4 7h-8l-5-7 5-7zm-4-6h2v2h-2V4zm18 0h6l2 5-2 5h-6l-3-5 3-5z"/><path opacity=".5" d="M1005 23h6l2 4-2 5h-6l-2-5 2-4z"/><path opacity=".2" d="M975 15h2l2 2-2 3h-2l-2-3 2-2zm2 9h3l2 3-2 2h-3l-2-2 2-3zm15-24h3l1 3-1 2h-3l-2-2 2-3z"/><path opacity=".5" d="M1049 20h-18l-9 15 9 15h18l8-15-8-15z"/><path opacity=".5" d="M1080 20h-17l-9 15 9 15h17l9-15-9-15zm-15-20h-7l-4 7 4 6h7l4-6-4-7zm-44 17h-2l-2 3 2 2h2l1-2-1-3z"/><path opacity=".2" d="M1044 10h-8l-4 7 4 7h8l4-7-4-7zm3-6h-1l-1 1 1 1h1l1-1-1-1zm-18 0h-5l-3 5 3 5h5l3-5-3-5zm-3 19h-5l-3 4 3 5h5l3-5-3-4zm31-8h-3l-1 2 1 3h3l1-3-1-2zm-2 9h-4l-1 3 1 2h4l1-2-1-3zm-15-24h-3l-2 3 2 2h3l1-2-1-3z"/><path opacity=".5" d="M1103 17h2l1 3-1 2h-2l-2-2 2-3z"/><path opacity=".2" d="M1080 10h8l4 7-4 7h-8l-4-7 4-7zm-3-6h1l1 1-1 1h-1l-1-1 1-1zm17 0h6l3 5-3 5h-6l-2-5 2-5z"/><path opacity=".5" d="M1098 23h5l2 4-2 5h-5l-3-5 3-4z"/><path opacity=".2" d="M1067 15h3l1 2-1 3h-3l-2-3 2-2zm2 9h4l1 3-1 2h-4l-1-2 1-3zm15-24h3l1 3-1 2h-3l-1-2 1-3z"/><path opacity=".5" d="M1141 20h-17l-9 15 9 15h17l9-15-9-15z"/><path opacity=".5" d="M1172 20h-17l-9 15 9 15h17l9-15-9-15zm-14-20h-8l-4 7 4 6h8l4-6-4-7zm-44 17h-3l-1 3 1 2h3l1-2-1-3z"/><path opacity=".2" d="M1136 10h-8l-4 7 4 7h8l4-7-4-7zm3-6h-1v2h1l1-1-1-1zm-17 0h-6l-2 5 2 5h6l2-5-2-5zm-4 19h-5l-2 4 2 5h5l3-5-3-4zm31-8h-3l-1 2 1 3h3l2-3-2-2zm-2 9h-3l-2 3 2 2h3l2-2-2-3zm-15-24h-3l-1 3 1 2h3l2-2-2-3z"/><path opacity=".5" d="M1195 17h3l1 3-1 2h-3l-1-2 1-3z"/><path opacity=".2" d="M1172 10h8l4 7-4 7h-8l-4-7 4-7zm-3-6h1l1 1-1 1h-1V4zm18 0h5l3 5-3 5h-5l-3-5 3-5z"/><path opacity=".5" d="M1190 23h5l3 4-3 5h-5l-2-5 2-4z"/><path opacity=".2" d="M1159 15h3l2 2-2 3h-3l-1-3 1-2zm3 9h3l2 3-2 2h-3l-2-2 2-3zm14-24h3l2 3-2 2h-3l-1-2 1-3z"/><path opacity=".5" d="M1233 20h-17l-9 15 9 15h17l9-15-9-15z"/><path opacity=".5" d="M1265 20h-18l-8 15 8 15h18l9-15-9-15zm-15-20h-8l-3 7 3 6h8l4-6-4-7zm-44 17h-3l-1 3 1 2h3l1-2-1-3z"/><path opacity=".2" d="M1229 10h-8l-5 7 5 7h8l4-7-4-7zm3-6h-1l-1 1 1 1h1V4zm-18 0h-5l-3 5 3 5h5l3-5-3-5zm-3 19h-5l-3 4 3 5h5l2-5-2-4zm31-8h-3l-2 2 2 3h3l1-3-1-2zm-3 9h-3l-2 3 2 2h3l2-2-2-3zm-14-24h-3l-2 3 2 2h3l1-2-1-3zm36 15v3-3zm0-11v2-2zm-9 11h3l1 2-1 3h-3l-2-3 2-2zm2 9h3l2 3-2 2h-3l-2-2 2-3z"/><path d="M1990 40l-2-3h-17l-5 8-5-8h-28l-4 8-5-8h-18l-5 9-5-9h-18l-4 8-5-8h-30l-5 8-4-8h-18l-4 8-5-8h-17l-5 8-4-8h-32l-5 8-5-8h-17l-4 6-3-6h-17l-5 8-5-8h-34l-4 8-5-8h-17l-3 5-2-5h-18l-4 8-5-8h-18v1-1h-18l-5 8-4-8h-18l-1 3-2-3h-17l-5 8-4-8h-35l-5 8-5-8h-17l-2 4-2-4h-17l-5 8-5-8h-28l-5 8-4-8h-18l-5 9-5-9h-18l-4 8-5-8h-28l-5 8-4-8h-18l-5 9-6-9h-17l-5 8-4-8h-25l-5 8-5-8h-17l-7 12-6-11h-18l-4 8-5-8h-28l-5 8-4-8h-18l-5 9-6-9h-17l-5 8-4-8h-25l-5 8-5-8h-17l-7 12-7-12h-17l-5 8-5-8h-28l-5 8-4-8h-18l-5 9-5-9h-18l-4 8-5-8h-25l-5 8-4-8h-18l-7 12-7-12h-17l-5 8-4-8h-25l-5 8-5-8h-17l-7 12-7-12h-17l-5 8-5-8h-30l-5 8-4-8h-18l-4 8-4-8h-18l-4 8-5-8h-24l-5 8-4-8h-18l-7 13-8-13h-17l-5 8-5-8h-28l-4 8-5-8h-18l-5 9-5-9h-18l-4 8-5-8h-28l-5 8-4-8h-18l-5 9-6-9h-17l-5 8-4-8h-25l-5 8-5-8h-17l-7 12-7-12h-17l-5 8-5-8h-25l-4 8-5-8h-17l-7 12-7-12h-18l-4 8-5-8H89l-5 8-4-8H62l-7 12-7-12H31l-5 8-4-8H4l-4 7v9h2000V37l-10 3z"/></g></svg>');
}

@media (min-width: 768px) {
  .shapedividers_com-8373::before {
    background-size: 100% 115px;
    background-position: 50% 100%;
  }
}

@media (min-width: 1025px) {
  .shapedividers_com-8373::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 115px;
    background-position: 50% 100%;
  }
}
@media (min-width: 2100px) {
  .shapedividers_com-8373::before {
    background-size: 100% calc(2vw + 115px);
  }
}

.carousel-close-btn {
  position: absolute;
  top: 10px;
  right: 50px;
  background: none;
  color: #222229;
  padding: 0.7rem;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  z-index: 3;
  transition:
    color 0.2s,
    transform 0.2s;
}
.carousel-close-btn:hover,
.carousel-close-btn:focus {
  color: rgb(0, 204, 255);
  transform: scale(1.13);
  background: none;
}
.carousel-close-icon {
  color: inherit;
  transition: color 0.2s;
}
