.about-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateY(0); /* Default position */
  transition: transform 0.1s linear; /* Smooth scrolling effect */
}

.about-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}

.about-content h2 {
  font-size: 3rem;
  margin-bottom: 15px;
  animation: fadeInUp 1.5s ease-in-out;
}

.about-content p {
  font-size: 1.25rem;
  animation: fadeInUp 2s ease-in-out;
}
