body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
  background-color: #EAEFEF; /* Fallback background */
  font-family: 'Poppins', sans-serif; /* Default font for body */
}

html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

section {
  width: 100%;
  position: relative;
    flex: 1;
    min-height: 300px; /* Ensure consistent height */
}

.wave {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease-out;
}



/* Styling the wave for smoother transitions */
.wave path {
  transition: all 0.3s ease-out;
}


#about {
  background: #32cd32; /* Green background for the about section */
}

#skills {
  background: #8a2be2; /* Purple for the skills section */
}

#projects {
  background: #f0e68c; /* Light yellow for the projects section */
}
