.hidden-on-load {
  opacity: 0;
  visibility: hidden;
}
.techstack-main {
  width: 100vw;
  height: 120vh;
  background-color: #222229;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222229;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.tech-cont {
  display: flex;
  height: 90%;
  width: 90%;
  flex-direction: column;
}
.tech-header {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.tech-body {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 1vw;
}
.frontend-cont,
.backend-cont,
.database-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 3px solid green;
}
.frontend,
.backend,
.database {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}
.frontend-txt,
.backend-txt,
.database-txt {
  font-size: 1.5vw;
  padding: 1vw;
  font-weight: 500;
  color: black;
  letter-spacing: 2px;
}
