.contact {
  height: 80px;
  width: 100vw;
  border-top: 1px solid black;
  background-color: #1e1e24;
  display: flex;
  position: relative;
  flex-direction: column;
}
.contact-cont1 {
  height: 10%;
  width: 100vw;
}
.contact-cont2 {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 3vh;
}
.contact-cont3 {
  height: 10%;
  width: 100vw;
}
.logo:hover {
  color: #7f8caa;
  cursor: pointer;
}
